body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

:root {
    --salmon: #FA8072;
    --background-colour: #f8ddda;
    --text: #383d3b;
    --accent: #586994;
    --body-background: #f5f2ee;
}

body {
    background-color: var(--body-background);
}
img {
    width: 100%;
    display: block;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;

}

h1 {
    font-family: 'Cookie', cursive, monospace, 'Gill Sans', sans-serif;
    font-size: 4rem;
    color: var(--text);
}


h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Ysabeau Office', sans-serif;
    color: var(--accent);
}

h3 {
    text-align: center;
    font-size: 1.75rem;
    font-family: 'Ysabeau Office', sans-serif;
    color: var(--accent);
}

h4 {
    font-family: 'Ysabeau Office', sans-serif;
    color: var(--accent);
    font-size: 1.5rem;
}

h5 {
    font-family: 'Ysabeau Office', sans-serif;
    color: var(--accent);
    font-size: 1.25rem;
}

p {
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.25rem;
    
}

/* header */

header {
    background-color: var(--salmon);
}

.logo-img {
    min-width: 200px;
    max-width: 200px;
    margin-top: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

nav ul{
    display: flex;
    
}

nav li {
    padding: 5px;
    margin: 5px;
    list-style: none;
    font-size: 1.25rem;
}

li a {
    text-decoration: none;
    color: var(--text);
}

li a:hover {
    color: var(--accent)
}


/* main */

.main-container {
   width: 90%;
}


.about-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

    .about {
    width: 100%;
    min-height: 200px;
    background-color: var(--background-colour);
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 3rem;
    border-radius: 1rem;
}

.locations-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}


.location-card {
    /* width: 30%; */
    min-width: 300px;
    min-height: 300px;
    background-color: var(--background-colour);
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 1rem;

}


.open-hours-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
} 

.open-hours {
    width: 100%;
    min-height: 200px;
    background-color: var(--background-colour);
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 30px;
    border-radius: 1rem;

}

/* table */

#container {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid darkgray;
    border-collapse: collapse;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.25rem;
}

th,
td {
    padding: 0.5rem;
}

/* form */
form {
    border:1px solid var(--salmon);
    padding: 10px;
    margin: 20px auto;
    max-width: 800px;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.25rem;
}

fieldset {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    
}

input {
   max-width: 200px;
    margin-bottom: 0.5rem;
}

label input {
    margin: 0 auto;
}
/* footer */

footer {
    min-height: 100px;
    background-color: var(--salmon);
    width: 100%;
    
}

footer p h4 h5 {
    text-align: center;
    
}

.footer-container {
    display: inline-flex;
    justify-content:space-between;
    flex-wrap: wrap;
    

}

.contact-container {
    margin: 1rem;
    
    
}

.contact-container > h5, p {
    margin: 0;
	padding: 0;
	border: 0;
    text-align: center;
    display: inline;
    
		
}